<table>
  <tr>
    <td>Session id</td>
    <td>IP Address</td>
    <td>Use Count</td>
    <td>Go To</td>
    <td>Device Type</td>
    <td>OS</td>
  </tr>
  <%@shorteners.each do |shortener|%>
  <tr>
    <td><%=shortener.user.session_id%></td>
    <td><%=shortener.user.ip_address%></td>
    <td><%=shortener.use_count%></td>
    <td><%=shortener.url%></td>
    <td><%=shortener.user.device_type%></td>
    <td><%=shortener.user.os%></td>
  </tr>
  <%end%>
</table>
<p><label>total_session:</label><span><%=@total_session%></span></p>
<p><label>total_user:</label><span><%=@total_user%></span></p>
